.App {
  text-align: center;
}

#leftsideMenu ul li {
  border-bottom: 1px dashed lightgray;
  background-color: rgba(244,121,131 , 0.753);
}

#leftsideMenu ul li a {
  padding: 8px 20px 8px 20px;
  color: white;
  display: block;
}


/* inspirado em https://stackoverflow.com/questions/3486110/make-a-list-item-clickable-html-css */

.list{list-style-type:none;
padding-left: 0;}

.search-restaurants-input-wrapper{
  width: 100%
}

li::before  {
  content: "\01F363";
  /* ícone de sushi */
}